@media screen and (min-width: 500px){

    .menu{
        display: flex;
        justify-content: space-around;
    }

    .menu li{
        display: block;
    }

    .menu a{
        padding: 1rem;
        font-size: 1.5rem;
    }

    main, header, footer, .menu{
        max-width: 1600px;
    }

    header{
        font-size: 2rem;
    }

    main{
        display: grid;
        grid-template-columns: 1fr 0.5fr;
        grid-gap: 10px;
   
    }
    
    h2{
        font-size: 3rem;
        text-align: unset;
        padding-left: 5%;
        grid-column: 1/3;
        margin-top: 1rem;
    }

    .card{
        width: 90%;
        font-size: 1.5rem;
    }

    #items{
        padding: 1rem;
    }

    #items div{
        padding: 1rem;
    }

    #information{
        margin-left: -5%;
    }

    footer{
        font-size: 1.5rem;
    }

    #displayMenu{
        display: none;
    }

    h1{
        font-size: 5.2rem;
    }

    #mode{
        top: 3%;
        right: 8%;
    }

    .hero{
        grid-column: 1/3;
        width: 90%;
        margin: 0 auto;
    }

    .templeLabel{
        top: 30rem;
        left: 25rem;
        font-size: 3rem;
    }

    iframe{
        grid-column: 1/3;
        width: 90%;
    }

    #activities{
        width: 85%;
    }

    #rangevalues{
        width: 20rem;
    }

    #items figure, #items p{
        padding: 1.5rem;
    }
}
